* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 10px;
  font-size: 12px;
  font-family: system-ui;
  background-color: #03045e;
}

h2.accordion-header {
  height: 50px;
  margin: 3px 0;
}

h3 {
  text-align: center;
  margin: 0;
  color: #caf0f8;
}

.table-bordered thead th {
  background: #0077b6;
  color: white;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

.table-bordered tr td {
  text-align: center;
}

.table-bordered td {
  border: 1px solid #90e0ef;
  font-size: 12px;
}

.table-bordered tr.active {
  border: 3px solid #00b4d8;
}

button.btn {
  padding: 8px 20px;
  cursor: pointer;
  margin-left: 20px;
}

td.bold {
  font-weight: bold;
}

button.accordion-button {
  font-weight: bold;
  font-size: 1.1rem;
}

span.counter-wrapper {
  position: relative;
  top: -50px;
  font-size: 1.1rem;
  left: 320px;
  display: inline-flex;
}

span.top.counter-wrapper {
  left: 70px;
  top: -40px;
}

span.top.counter-wrapper span {
  padding: 12px 24px;
  margin: 0 15px;
  font-weight: bold;
  font-size: 22px;
}

span.counter-wrapper span {
  padding: 10px;
  color: white;
  margin: 0 10px;
  display: inline-block;
  min-width: 60px;
  text-align: center;
}

span.bulls {
  background-color: #009a54;
}

span.bears {
  background-color: #e70318;
}

div.accordion-body {
  padding: 0;
}

h4.counter {
  position: absolute;
  top: 10px;
  background-color: white;
  width: 60px;
  border-radius: 50%;
  height: 60px;
  vertical-align: middle;
  text-align: center;
  line-height: 60px;
  font-size: 1.4rem;
}

span.orange {
  color: white;
  padding: 10px 20px;
  background-color: #842029;
  position: absolute;
  left: 150px;
  width: 130px;
  text-align: center;
}

.accordion.top {
  margin-top: -20px;
}
