* {
  box-sizing: border-box;
}

body {
  padding: 5px;
  font-size: 12px;
  font-family: system-ui;
  background-color: #03045e;
}

.header {
  position: relative;
  height: 110px;
  padding-top: 15px;
}

h2.accordion-header {
  height: 115px;
  position: relative;
  margin: 3px 0;
}

h3 {
  text-align: center;
  margin: 0;
  padding: 15px 0;
  color: #caf0f8;
  font-size: 30px;
}

.table-bordered thead th {
  background: #0077b6;
  color: white;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

.table-bordered tr td {
  text-align: center;
}
.table-bordered tr {
  background-color: #fff;
}


.table-bordered td {
  border: 1px solid #90e0ef;
  font-size: 12px;
}

.table-bordered tr.active {
  border: 3px solid #00b4d8;
}

button.btn {
  padding: 8px 20px;
  cursor: pointer;
  margin-left: 20px;
}

td.bold {
  font-weight: bold;
}

button.accordion-button {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 15px 5px 20px 5px;
}

span.counter-wrapper {
  position: relative;
  font-size: 1.1rem;
  display: inline-flex;
  top: 10px;
}

span.counter-wrapper.right {
  margin-left: 20px;
}


span.top.counter-wrapper {
  top: 0;
}

span.top-right.counter-wrapper {
  left: 0;
  top: 0;
  margin-left: 20px;
}

span.top-right.counter-wrapper span {
  padding: 10px;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

span.top.counter-wrapper span {
  padding: 10px;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

span.counter-wrapper span {
  padding: 10px 0;
  color: white;
  display: inline-block;
  min-width: 85px;
  text-align: center;
}

span.bulls {
  background-color: #009a54;
}

span.bears {
  background-color: #e70318;
}

div.accordion-body {
  padding: 0;
}

h4.counter {
  position: absolute;
  top: -65px;
  background-color: white;
  width: 60px;
  border-radius: 50%;
  height: 60px;
  vertical-align: middle;
  text-align: center;
  line-height: 60px;
  font-size: 1.4rem;
}

span.orange {
  padding: 10px;
  position: absolute;
  right: 40px;
  min-width: 220px;
  text-align: center;
  border: 2px solid #86b7fe;
  background-color: white;
}
span.greenish{
  display: inline-block;
    font-weight: normal;
    color: #009a54;
    padding-left: 10px;
}
span.reddish{
  display: inline-block;
    font-weight: normal;
    color: #e70318;
    padding-left: 10px;
}

.accordion.top {
  margin-top: -20px;
}
.wrapper-div{
  display: flex;
  justify-content: space-between;
}

.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #FF3D00 #FF3D00 transparent #FF3D00;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  top: 11px;
  left: 11px;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #FF3D00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}