* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 10px;
  font-size: 12px;
  font-family: system-ui;
  background-color: #03045e;
}

.header {
  position: relative;
}

h2.accordion-header {
  height: 50px;
  position: relative;
  margin: 3px 0;
}

h3 {
  text-align: center;
  margin: 0;
  color: #caf0f8;
}

.table-bordered thead th {
  background: #0077b6;
  color: white;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

.table-bordered tr td {
  text-align: center;
}

.table-bordered td {
  border: 1px solid #90e0ef;
  font-size: 12px;
}

.table-bordered tr.active {
  border: 3px solid #00b4d8;
}

button.btn {
  padding: 8px 20px;
  cursor: pointer;
  margin-left: 20px;
}

td.bold {
  font-weight: bold;
}

button.accordion-button {
  font-weight: bold;
  font-size: 1.1rem;
}

span.counter-wrapper {
  position: relative;
  top: -52px;
  font-size: 1.1rem;
  left: 320px;
  display: inline-flex;
}

span.counter-wrapper.right {
  left: 60%;
  background-color: #004284;
  padding: 5px;
}


span.top.counter-wrapper {
  left: 70px;
  top: -35px;
}

span.top-right.counter-wrapper {
  left: 54%;
  top: -35px;
}

span.top-right.counter-wrapper span {
  padding: 12px 24px;
  margin: 0 15px;
  font-weight: bold;
  font-size: 22px;
}

span.top.counter-wrapper span {
  padding: 12px 24px;
  margin: 0 15px;
  font-weight: bold;
  font-size: 22px;
}

span.counter-wrapper span {
  padding: 10px;
  color: white;
  margin: 0 10px;
  display: inline-block;
  min-width: 60px;
  text-align: center;
}

span.bulls {
  background-color: #009a54;
}

span.bears {
  background-color: #e70318;
}

div.accordion-body {
  padding: 0;
}

h4.counter {
  position: absolute;
  top: -4px;
  background-color: white;
  width: 60px;
  border-radius: 50%;
  height: 60px;
  vertical-align: middle;
  text-align: center;
  line-height: 60px;
  font-size: 1.4rem;
}

span.orange {
  color: white;
  padding: 10px 20px;
  background-color: #842029;
  position: absolute;
  left: 150px;
  width: 130px;
  text-align: center;
}

.accordion.top {
  margin-top: -20px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  border: 3px solid;
  border-color: #FFF #FFF transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  left: 310px;
  top: 4px;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #FF3D00 #FF3D00;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}